.topnav {
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #3700ff;
    color: white;
}

.header-img {
    border-image-width: 500px;
}

.header-home {
    padding: 25px;
}

.text-block {
    margin: 25px;
    border-radius: 15px;
    color: white;
    background-color: #333;
}

.text {
    margin-left: 25px;
}

.text-top {
    margin-left: 25px;
    padding-top: 25px;
}

.text-bottom {
    margin-left: 25px;
    padding-bottom: 25px;
}

.footer {
    background-color: #333;
    color: white;
    height: 150px;
}

.text-footer {
    padding: 25px;
    margin-top: 100px;
    margin-left: 75px;
}